# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/footer/dist
/navbar/dist
/shell/dist
/footer/tmp
/navbar/tmp
/shell/tmp


/out-tsc
/bazel-out

# Node
/footer/node_modules
/navbar/node_modules
/shell/node_modules

npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
/footer/.vscode/*
/navbar/.vscode/*
/shell/.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/footer/.angular/cache
/navbar/.angular/cache
/shell/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
